:root {
  --card-w: 200px;
  --card-shadow: 0px 0px 5px grey;
  --text: black;
  --secion-header-sz: 40px;
  --text-small: 10px;
  --text-medium: 18px;
  --text-big: 20px;
  --theme-color: linear-gradient(45deg, red, blue);
  --sh-grid-col: 250px;
  --url-color: #1a6df4;
}

body.dark-theme {
  --card-shadow: 0px 0px 5px black;
  --text: white;
}
@media (max-width: 480px) {
  body.dark-theme {
    --secion-header-sz: 30px;
  }
}

* {
  color: var(--text);
}

#root {
  width: 100%;
  flex: 1 1 auto;
}

#main-content {
  width: 100%;
}
#main-content > *:first-child {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
  font-size: var(--text-medium);
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.section-header {
  font-size: var(--secion-header-sz);
  border-bottom: 3px solid black;
  overflow: hidden;
  width: fit-content;
}

.section-header > * {
  font-size: inherit;
  transition: transform 0.5s linear;
  transform: translateY(100%);
  animation: 0.5s slide-up linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.grid, .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--sh-grid-col), 1fr));
  gap: 5px;
}
.grid > *, .card-grid > * {
  width: 100%;
}

.card-grid {
  grid-template-columns: repeat(auto-fill, minmax(var(--card-w), 1fr));
}

.card, .article-card, .stats-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: var(--card-shadow);
}
.card-body, .card__body {
  flex: 1 0 auto;
}

.stats-card {
  min-height: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: var(--url-color);
  cursor: pointer;
}

.article-card {
  padding: 0px;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  transition: transform 0.5s linear;
}
.article-card:hover, .article-card:hover .article-card-image img {
  transform: scale(1.009);
}
.article-card-image {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 150px;
  overflow: hidden;
}
.article-card__body {
  padding: 10px 15px;
}
.article-card-descr {
  height: 100px;
  overflow: hidden;
}
.article-card-descr p {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.article-card-descr * {
  font-weight: 600;
}
.article-card__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 3px;
  border-top: 1px solid #d6d6d6;
  width: calc(100% - 10px);
  margin: auto;
}
.article-card-date * {
  font-size: var(--text-small);
}
.article-card-author {
  display: flex;
  gap: 5px;
  align-items: center;
}
.article-card-author-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: 2px solid grey;
}

.article-info {
  display: flex;
  justify-content: space-between;
}
.article-info .article-category {
  color: red;
  letter-spacing: 1px;
  font-weight: bold;
}
.article-info .article-date {
  color: black;
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: transform 0.3s linear;
}
